.student img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.student table tr {
  vertical-align: middle;
}
#student_view {
  text-align: center;
}
#student_view img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
